@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.word-break {
		word-break: break-word;
	}

	.align-last-center {
		text-align-last: center;
	}
}

.note a {
	@apply underline;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}